<div class="projects">
  <% @projects.each do |project| %>
    <% if project.team_members.count > 0 %>
      <div class="project" >
        <h2><%= project.name %></h2>
        <ul class="members">
          <% project.team_members.each do |team_member| %>
            <li class="member">
              <% if team_member.thumbnail.present? %>
                <%= image_tag team_member.thumbnail %>
              <% else %>
                <%= image_tag("anon.png")  %>
              <% end %>
              <dl>
                <dt><%= team_member.name %></dt>
                <dd><%= team_member.job_title %></dd>
              </dl>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>
