<div class="row">
  <% @projects.each do |project| %>
    <% if project.team_members.count > 0 %>
      <div class="card card-radius" >
        <div class="card-body">
          <h3><%= project.name %></h3>
            <div class="members">
            <% project.team_members.each do |team_member| %>
              <ul class="member unstyled-list">
                <li><% if team_member.thumbnail.present? %>
                  <%= image_tag team_member.thumbnail %>
                <% else %>
                  <%= image_tag("anon.png")  %>
                <% end %></li>
                <li><%= team_member.name %></li>
                <li><%= team_member.discipline %></li>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
